* {
  box-sizing: border-box;
}

:root {
  --primary-color: #10375c;
  --btn-bg: #2e80ce;
  --light-bg: #f6fbff;
  --desc-color: #575f66;
  --desc-footer-color: #a9b3bb;
  --light-blue: #eaf6ff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common */

a {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  min-width: 205px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 12px;
  background-color: var(--btn-bg);
  color: #fff;
  border-radius: 99px;
  border: 1px solid var(--btn-bg);
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.desc {
  font-weight: 300;
  font-size: 1.8rem;
  margin-top: 18px;
  line-height: 1.67;
  color: var(--desc-color);
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
  color: var(--desc-color);
}

/*  Header */

.header {
  min-height: 100vh;
  padding-top: 30px;
  background: var(--primary-color);
}

.logo {
  display: inline-flex;
  font-family: "Sora", sans-serif;
  font-size: 1rem;
}

.logo__text {
  margin-left: 0.6em;
}

.logo__brand {
  font-size: 1.8em;
  text-align: right;
  color: #ffffff;
  display: block;
}

.logo__brand--small {
  font-size: 1.4em;
  font-weight: 300;
}

/* Header top */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__login {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 4px 21px;
  color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -2px;
  left: -5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__sign-up {
  min-width: 104px;
  margin-left: 7px;
  padding: 14px 12px;
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  width: 44.2%;
  flex-shrink: 0;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero__desc {
  font-weight: 300;
  font-size: 1.8rem;
  margin-top: 2.2rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hero__action {
  margin-top: 38px;
}

.hero__phone {
  margin-left: 38px;
  font-size: 1.8rem;
  color: #fff;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* .main {
  background-color: var(--main-bg);
} */

.service {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service__body {
  margin-top: 70px;
  justify-content: space-between;
}

.service__image {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  display: flex;
  width: 470px;
  padding: 20px 22px;
  border-radius: 10px;
}

.service-item:nth-child(3) {
  margin-bottom: 55px;
}

.service-item:hover {
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 19px;
  border-radius: 99px;
  color: var(--primary-color);
  background-color: #eff6fd;
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: var(--btn-bg);
}

.service-item__heading {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 8px;
  color: var(--primary-color);
}

.service-item__desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--desc-color);
}

/* Work */

.work {
  padding: 100px 0;
  background-color: var(--light-bg);
}

.work-desc {
  width: 468px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 86px;
}

.work-item {
  padding: 44px;
  background: #ffffff;
  border: 16px solid var(--light-blue);
  border-radius: 4px;
  transition: 0.25s;
  cursor: pointer;
}

.work-item:hover {
  transform: translateY(-16px);
  border-color: var(--btn-bg);
}

.work-item__heading {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.38;
  margin-top: 20px;
  color: var(--primary-color);
}

.work-item__desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 28px;
  color: var(--desc-color);
}

.work-item__action {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--btn-bg);
}

/* Feature */

.feature {
  padding: 170px 0 85px;
}

.feature-inner {
  column-gap: 130px;
}

.feature__media {
  position: relative;
  width: 48.7%;
  padding-bottom: 121px;
  padding-right: 58px;
}

.feature__img {
  width: 521px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.feature__img:last-child {
  position: absolute;
  width: 332px;
  height: 370px;
  right: 0;
  bottom: 0;
}

.feature__content :last-child {
  margin-top: 38px;
}

/* Member */

.member {
  padding: 85px 0;
}

.member__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__cta {
  margin-top: 38px;
}

.member__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}

.member__item:hover .member__thumb {
  transform: scale(1.1);
  cursor: pointer;
}

.member__card-background {
  padding-top: 28px;
  background: var(--light-blue);
  border-radius: 6px;
  overflow: hidden;
}

.member__thumb {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.25s;
}
.member__name {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  margin-top: 12px;
  color: var(--primary-color);
}

.member__desc {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: var(--desc-color);
}

.member__control {
  margin-top: 38px;
}

.control_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border: 1px solid var(--desc-color);
  border-radius: 50%;
}

.control_btn:hover {
  color: #fff;
  background-color: var(--btn-bg);
  border-color: var(--btn-bg);
  cursor: pointer;
}

.control_btn:active {
  opacity: 0.9;
}

/* Install */
.install {
  margin-top: 180px;
}

.install__inner {
  display: flex;
  align-items: center;
  padding: 0 70px;
  background: var(--btn-bg);
  border-radius: 4px;
}

.install__img {
  display: block;
  margin-top: -95px;
  width: 284px;
  height: 522px;
  object-fit: cover;
}

.install__content {
  margin-left: 160px;
}

.install__heading {
  color: #fff;
}

.install__desc {
  color: #fff;
}

.install__row {
  margin-top: 38px;
  column-gap: 28px;
}

.install__btn {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

/* News */

.news {
  margin-top: 85px;
  padding: 85px 0;
}

.news__row {
  justify-content: space-between;
}

.news__content {
  flex-shrink: 0;
}

.news__heading {
  max-width: 470px;
}

.news__read {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56rem;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  margin-top: 28px;

  color: var(--primary-color);
}

.news__control {
  justify-content: flex-start;
  margin-top: 28px;
}

.news__list {
  display: flex;
  column-gap: 30px;
  max-width: 570px;
}

.news__card {
  flex: 1;
  border-radius: 12px;
  transition: 0.25s;
  overflow: hidden;
}

.news__card:hover {
  cursor: pointer;
  box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.news__card:hover .card__img {
  transform: scale(1.1);
}

.news__card:hover .card__cta {
  color: var(--btn-bg);
}

.news__card:hover .card__body {
  border: #fff;
}

.card__thumb {
  overflow: hidden;
}

.card__img {
  display: block;
  width: 100%;
  height: 172px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  transition: 0.25s;
}

.card__body {
  padding: 22px;
  border: 1px solid #e8ebee;
  border-radius: 0 0 12px 12px;
  border-top: none;
  transition: 0.25s;
}

.card__heading {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.26;
  color: var(--primary-color);
}

.card__desc {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.71;
  margin-top: 10px;
  color: var(--desc-color);
}

.card__cta {
  display: inline-block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 18px;
  margin-top: 12px;
  color: var(--desc-color);
}

/* Book */

.book {
  margin-top: 85px;
  padding: 100px 180px;
  text-align: center;
}

.book__heading {
  position: relative;
  padding-bottom: 18px;
}

.book__heading:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 136px;
  height: 2px;
  background-color: var(--btn-bg);
}

.book__desc {
  max-width: 671px;
  margin: 18px auto;
}

.book__btn {
  margin-top: 38px;
}

/* Footer */

.footer {
  font-family: "Open Sans", sans-serif;
  padding: 100px 135px 0;
  background-color: var(--primary-color);
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

.footer__desc {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--desc-footer-color);
}

.footer__heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
}

.footer__list {
  margin-bottom: 28px;
}

.footer__item {
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer__item:hover .footer__link {
  text-decoration: underline;
}

.footer__link {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: var(--desc-footer-color);
}

.footer__media {
  display: flex;
  column-gap: 10px;
}

.footer__media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-bottom: 28px;
  border-radius: 50%;
  color: var(--btn-bg);
  background-color: #fff;
  transition: 0.25s;
}

.footer__media-link:hover {
  color: #fff;
  background-color: var(--btn-bg);
}

.footer__form {
  display: flex;
  margin-top: 10px;
  column-gap: 12px;
}

.form__input {
  padding: 0 10px;
  width: 212px;
  height: 46px;
  color: #9ca8b1;
  outline: none;
  border: 1px solid #406181;
  background-color: transparent;
  border-radius: 4px;
}

.form__input::placeholder {
  color: #9ca8b1;
}

.form__submit {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.86;
  min-width: 108px;
  height: 46px;
  padding: 0;
  background: var(--btn-bg);
  border-radius: 4px;
}

.footer__copyright {
  padding: 28px 0 42px;
  border-top: 1px solid #406181;
}

.footer__copyright-text {
  max-width: 1170px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #aab3ba;
}
