* {
  box-sizing: border-box;
}

:root {
  --primary-color: #10375c;
  --btn-bg: #2e80ce;
  --light-bg: #f6fbff;
  --desc-color: #575f66;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common */

a {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  min-width: 205px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 12px;
  background-color: var(--btn-bg);
  color: #fff;
  border-radius: 99px;
  border: 1px solid var(--btn-bg);
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.desc {
  font-weight: 300;
  font-size: 1.8rem;
  margin-top: 18px;
  line-height: 1.67;
  color: var(--desc-color);
}

/*  Header */

.header {
  min-height: 100vh;
  padding-top: 30px;
  background: var(--primary-color);
}

.logo {
  display: inline-flex;
  font-size: 1rem;
}

.logo__text {
  margin-left: 0.6em;
}

.logo__brand {
  font-size: 1.8em;
  text-align: right;
  color: #ffffff;
  display: block;
}

.logo__brand--small {
  font-size: 1.4em;
  font-weight: 300;
}

/* Header top */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__login {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 4px 21px;
  color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.navbar__link--active::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -2px;
  left: -5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__signup {
  min-width: 104px;
  margin-left: 7px;
  padding: 14px 12px;
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  width: 44.2%;
  flex-shrink: 0;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero__desc {
  font-weight: 300;
  font-size: 1.8rem;
  margin-top: 2.2rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hero__action {
  margin-top: 38px;
}

.hero__phone {
  margin-left: 38px;
  font-size: 1.8rem;
  color: #fff;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

.main {
  /* background-color: var(--main-bg); */
}

.service {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service__body {
  margin-top: 70px;
  justify-content: space-between;
}

.service__image {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  display: flex;
  width: 470px;
  padding: 20px 22px;
  border-radius: 10px;
}

.service-item:nth-child(3) {
  margin-bottom: 55px;
}

.service-item:hover {
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 19px;
  border-radius: 99px;
  color: var(--primary-color);
  background-color: #eff6fd;
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: var(--btn-bg);
}

.service-item__heading {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 8px;
  color: var(--primary-color);
}

.service-item__desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--desc-color);
}

/* Work */

.work {
  padding: 100px 0;
  background-color: var(--light-bg);
}

.work-desc {
  width: 468px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 86px;
}

.work-item {
  padding: 44px;
  background: #ffffff;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: 0.25s;
  cursor: pointer;
}

.work-item:hover {
  transform: translateY(-16px);
  border-color: var(--btn-bg);
}

.work-item__heading {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.38;
  margin-top: 20px;
  color: var(--primary-color);
}

.work-item__desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 28px;
  color: var(--desc-color);
}

.work-item__action {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--btn-bg);
}
